<div class="container main-container">
  <h3>Interpolation</h3>

  <p [ngClass]="{
    'text-secondary':contadorClique < 3,
    'text-success':contadorClique >= 3,
    'text-warning':contadorClique >= 5,
    'text-danger':contadorClique >= 9
    }">O número de cliques é: {{ contadorClique }}
  </p>

  <br /><hr><br />

  <h3>Property Binding</h3>

  <button class="btn btn-info" [disabled]="contadorClique >= 10">Botão Exemplo</button>

  <br /><br />

  <img [src]="urlImagem" height="50px" width="50px" />

  <br /><br /><hr><br />

  <h3>Event Binding</h3>
  <button class="btn btn-warning" (click)='adicionarContador()'>Adicionar Contagem</button>&nbsp;
  <button class="btn btn-danger" (click)='zerarContador()' [disabled]='contadorClique < 10'>Zerar Contador</button>
    
  <br /><br /><br /><hr><br />
    
  <h3>Two-way Binding</h3>

  <label>Exemplo 1:</label>&nbsp;&nbsp;
  <input type="text" (keyup)='KeyUp($event)' placeholder="Digite seu nome..." style="width: 400px;"><br>
  <label>Seu nome é: {{ nome1 }}</label>

  <br /><br />

  <label>Exemplo 2:</label>&nbsp;&nbsp;
  <input type="text" [ngModel]="nome2" (ngModelChange)='nome2 = $event' placeholder="Digite seu nome..." style="width: 400px;"><br>
  <label>Seu nome é: {{ nome2 }}</label> 

  <br /><br />

  <label>Exemplo 3:</label>&nbsp;&nbsp;
  <input type="text" [(ngModel)]="nome3" placeholder="Digite seu nome..." style="width: 400px;"><br>
  <label [ngClass]="nome2">Seu nome é: {{ nome3 }}</label>
</div>
