<!-- BEGIN Navegação -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">ANGULAR 11 - Projeto 001</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/produtos']">Produtos</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/sobre']">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contato']">Contato</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/exemplos']">Exemplos</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END Navegação -->
